*.egg-info
**/__pycache__
**/.DS_STORE
**/*.h5
**/*.csv
**/*.zip
**/*.pkl
**/*.tab
**/*.dta
!uprating_factors.csv
!uprating_growth_factors.csv
!incomes.csv
!tax_benefit.csv
!demographics.csv
!incomes_projection.csv
!policyengine_uk_data/datasets/local_areas/**/*.csv
**/_build
!policyengine_uk_data/storage/*.csv
# UKDS-licensed microdata — NEVER commit raw files. Only aggregated,
# non-disclosive outputs derived from these datasets may be tracked.
# Match both the directory form and a symlink/file form with the same name.
policyengine_uk_data/storage/ukhls
policyengine_uk_data/storage/ukhls/
**/version.json
